// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import '~vue-multiselect/dist/vue-multiselect.min.css';




.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-active {
    background-color: #B536DA;
    color: red;
}

.nav-link:hover {
    background-color: #cb72e5 !important;
}

.router-link-active p {
    color: white;
}

.bgcolor-purple {
    background-color: #B536DA !important;
    color: #fff !important;
}

.bgcolor-purple:hover {
    background-color: rgb(141, 42, 172) !important;
}

.icon-purple {
    color: #B536DA !important;
}

.pb-0 {
    padding-bottom: 0px;
}

.msg-invalido {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.input-invalido {
    border-color: #dc3545;
}
